/**
 * Import custom Bootstrap source
 */

//@import "../node_modules/bootstrap/scss/bootstrap";

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

/**
 * General
 */

body {
	&[class*="single-billy-"] {
		.entry-header,
		.entry-title,
		.author-bio,
		.post-meta {
			display: none;
		}

		.entry-content {
			font-family: inherit;
		}

		[class*="show-on-"] {
			display: none;
		}

		&.single-billy-invoice .show-on-invoice,
		&.single-billy-quote .show-on-quote,
		&.single-billy-accounting .show-on-accounting {
			display: block;
		}
	}
}

img {
	vertical-align: middle;
}

mark {
	background-color: $warning;
}

/* Header */

.pre-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	padding: 15px 0;
	border-bottom: 1px dashed;

	.wp-block-button {
		margin: 0 15px 0 0 !important;
	}
}

.header {
	margin-bottom: 100px;

	p {
		margin: 0;
	}

	.wp-block-image {
		margin: 0 !important;

		img {
			max-height: 110px;
			width: auto;
		}
	}

	.wp-block-columns {
		margin-top: 0;
		margin-bottom: 0;

		div {
			margin-block-start: 0;
		}
	}
}

.details {
	p {
		margin: 0;
	}

	.wp-block-column {
		&:last-of-type {
			div {
				display: flex;
				margin-block-start: 0;

				div {
					flex-basis: 50%;
					flex-grow: 0;
					padding: 0 0 0.5rem;
					line-height: 1.15;
					hyphens: auto;
				}

				.label {
					font-weight: bold;
					padding-right: 1rem;
					padding-left: 1rem;
				}
			}
		}
	}
}

.information {
	p {
		font-size: smaller;
	}
}

/* Tables */

#billy-accounting {
	table {
		tr[data-quarter="Q1"] {
			th {
				background-color: #f8f8f8;
			}
		}
		tr[data-quarter="Q2"] {
			th {
				background-color: #e0e0e0;
			}
		}
		tr[data-quarter="Q3"] {
			th {
				background-color: #d0d0d0;
			}
		}
		tr[data-quarter="Q4"] {
			th {
				background-color: #b8b8b8;
			}
		}
	}
}

.wp-block-table {
	width: 100%;
	margin-top: 60px;
	margin-bottom: 60px;
	border-collapse: collapse;

	th,
	td {
		padding: 5px;
	}

	th {
		cursor: pointer;
		white-space: nowrap;

		&::after {
			content: "";
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-top: -5px;
			margin-left: 10px;
			border-bottom: 1px solid $primary;
			border-left: 1px solid $primary;
			transform: rotate(-225deg);
			transition: all 0.3s ease-in-out;
			visibility: hidden;
		}

		&.asc::after {
			visibility: visible;
			transform: rotate(-225deg);
		}

		&.desc::after {
			visibility: visible;
			transform: rotate(-45deg);
		}

		&.earnings {
			color: $success;
			background-color: lighten($success, 50%);
		}

		&.expenses {
			color: $danger;
			background-color: lighten($danger, 33%);
		}
	}

	tbody,
	thead {
		border-bottom: $table-border-width solid;
	}

	tbody {
		th,
		td {
			vertical-align: top;
		}
	}

	tfoot {
		tr {
			&.total {
				font-weight: bold;

				td {
					border-top: $table-border-width solid;
				}
			}

			th,
			td {
				text-align: initial;
				white-space: nowrap;

				&.sum {
					text-align: center;

					&.earnings,
					&.tax-earnings {
						background-color: lighten($success, 50%);
					}

					&.expenses,
					&.tax-expenses {
						background-color: lighten($danger, 33%);
					}
				}

				&.profit {
					position: relative;
					text-align: center;

					&::before,
					&::after {
						content: "";
						display: block;
						width: 1rem;
						height: 1rem;
						position: absolute;
						top: 0;
						transform-origin: center center;
						z-index: -2;
						border-top: 2px dotted $primary;
					}
					&::before {
						left: 15%;
						border-left: 2px dotted $primary;
						transform: rotate(-90deg);
					}
					&::after {
						right: 15%;
						border-right: 2px dotted $primary;
						transform: rotate(90deg);
					}
				}
			}
			th {
				text-align: right;
			}
		}
	}
}

#pdf {
	width: 50%;
	min-width: 400px;
	min-height: 300px;
	padding: 0 10px;

	> a {
		margin: 0 10px 10px 0;
		display: inline-block;
	}

	.wp-block-file__embed {
		width: 100% !important;
		height: 300px;

		&:hover {
			height: 600px;
		}
	}
}

/* Print */

@media print {
	body {
		&[class*="single-billy-"] {
			font-size: 9pt;

			#pdf,
			.pre-header,
			header,
			footer,
			#header,
			#footer,
			aside,
			nav,
			.entry-header,
			.entry-title,
			.author-bio,
			.post-meta {
				display: none;
			}
		}
	}

	.header {
		margin-bottom: 20pt;

		.wp-block-image {
			img {
				max-height: 90pt;
			}
		}
	}

	.wp-block-columns {
		flex-wrap: nowrap;
		flex-shrink: 1;
	}

	.details {
		margin-bottom: 0;

		.wp-block-column {
			&:last-of-type {
				display: table;

				p {
					display: table-row;
					font-size: smaller;

					* {
						display: table-cell;
					}

					strong {
						white-space: nowrap;
					}
				}
			}
		}
	}

	.wp-block-table {
		font-size: 10pt;

		tfoot {
			th {
				text-align: right;
			}
		}
	}
}
