body {
	font-size: 10pt;
	line-height: 1.75;
}

.d-none,
.d-print-none {
	display: none;
}

p {
	font-size: inherit;
}

.small {
	font-size: small;
}

hr {
	margin: 10pt 0;
}

.header {
	margin-bottom: 40pt;
}
.header p {
	margin: 0;
}
.header .wp-block-image {
	width: 100pt;
}
.header .wp-block-columns {
	display: block;
	width: 100%;
}
.header .wp-block-columns .wp-block-column {
	display: block;
	float: left;
	width: 33%;
	min-width: 33%;
	margin: 0;
	border-bottom: 1px solid #fff;
}

strong {
	font-weight: bold;
}

.alignwide {
	display: block;
	max-width: none;
	width: 100%;
	margin-top: 0;
}

.details {
	width: 100%;
}
.details div {
	width: 33%;
}
.details p {
	margin: 0;
}
.metadata p {
	font-size: small;
}

.intro {
	margin: 40pt 0 0;
}

.table {
	font-size: inherit;
	border-collapse: collapse;
	margin: 40pt 0;
	width: 100%;
}
.table th,
.table td {
	border: 1px solid;
}
.table th {
	text-align: left;
	font-weight: bold;
}
.table th,
.table td {
	padding: 5pt 10pt;
}

.table tbody td {
	line-height: 1.75;
}
.table tfoot .total td {
	font-weight: bold;
}

.wp-block-columns {
	display: block;
	width: 100%;
}
.wp-block-columns .wp-block-column {
	display: block;
	float: left;
	width: 33%;
	min-width: 33%;
	margin: 0;
}

.qr-info {
	font-size: 9pt;
	padding: 0 15pt;
}