body {
	font-size: 10pt;
	line-height: 1.75;
}

.d-none,
.d-print-none {
	display: none;
}

p,
ul,
ol {
	font-size: inherit;
}

.small {
	font-size: small;
}

hr {
	margin: 10pt 0;
}

.header {
	margin-bottom: 40pt;
}
.header p {
	margin: 0;
}
.header .wp-block-image {
	width: 100pt;
}
.header .wp-block-columns {
	display: block;
	width: 100%;
}
.header .wp-block-columns .wp-block-column {
	display: block;
	float: left;
	width: 33%;
	min-width: 33%;
	margin: 0;
	border-bottom: 1px solid #fff;
}

strong {
	font-weight: bold;
}

.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}

.alignwide {
	display: block;
	max-width: none;
	width: 100%;
	margin-top: 0;
}

.details {
	display: block;
	width: 100%;
}
.details .wp-block-column {
	display: block;
	float: left;
	width: 33%;
	min-width: 33%;
	margin: 0;
	border-bottom: 1px solid #fff;
}
.details p {
	margin: 0;
}

.metadata .label,
.metadata .text {
	display: block;
	float: left;
	width: 50%;
	min-width: 50%;
	font-size: small;
}
.metadata .label {
	font-weight: bold;
}
.metadata .text {
	float: right;
}

.intro {
	margin: 40pt 0 0;
}

.table {
	margin: 40pt 0;
	width: 100%;
	border-collapse: collapse;
}
.table th,
.table td {
	border: 1px solid;
	padding: 5pt 10pt;
}
.table th {
	text-align: left;
	font-weight: bold;
}

.table tbody th,
.table tbody td {
	vertical-align: top;
	line-height: 1.75;
}

.table tfoot th,
.table tfoot td {
	white-space: nowrap;
}
.table tfoot th {
	text-align: right;
}
.table tfoot .total td {
	font-weight: bold;
}

.qr-info {
	font-size: 9pt;
	padding: 0 15pt;
}